<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<head>

<title>AlphaBlog</title>

</head>
<body>
    
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to the AlphaBlog</h1>
      <p>The better blog on the internet</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up now!</a></p>
    </div>
  </div>


</body>
</html>
