<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<head>

<title>AlphaBlog</title>

</head>
<body>


<%= link_to "Create new article", new_article_path %>

</body>
</html>
