

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    Float: left;
    font-size: 1.7en;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.jumbotron {
    background-image: asset-url('dicas-criar-ambiente-estudo-noticias.jpg');
}

.article-actions {
border-top: 1px solid #eaeaea;
padding-top: 5px;
}
.description {
margin-top: 0;
}

.article-title {
font-weight: bold;
font-size: 1.5em;
}
.article-body {
border-top: 1px solid #eaeaea;
padding-top: 15px;
padding-bottom: 15px;
}git